.no-margin {
  margin: 0;
}

.margin-5 {
  margin: 5px;
}

.margin-10 {
  margin: 10px;
}

.margin-t-0 {
  margin-top: 0;
}

.margin-t-5 {
  margin-top: 5px;
}

.margin-t-10 {
  margin-top: 10px;
}

.margin-b-0 {
  margin-bottom: 0;
}

.margin-b-5 {
  margin-bottom: 5px;
}

.margin-b-10 {
  margin-bottom: 10px;
}

.margin-l-5 {
  margin-left: 5px;
}

.margin-l-10 {
  margin-left: 10px;
}

.margin-r-5 {
  margin-right: 5px;
}

.margin-r-10 {
  margin-right: 10px;
}

.padding-5 {
  padding: 5px !important;
}

.padding-r-5 {
  padding-right: 5px;
}

.padding-l-5 {
  padding-left: 5px;
}

.pointer {
  cursor: pointer;
}

.text-warning {
  color: orange !important;
}

.bg-blue-light {
  background-color: #edf1ff;
}

.bg-grey-light {
  background-color: #f4f4f4;
}

.bg-green-light {
  background-color: #bbed9a;
}

.bg-yellow-light {
  background-color: #fff999;
}

.bg-black-light {
  background-color: #dbdbdb;
  color: #383131;
}

.panel-title {
  display: inline-block;
  font-size: 20px;
}

.table-fixed {
  table-layout: fixed;
}

.highlight {
  font-weight: 900;
  color: #636b6f !important;
}

.no-border {
  border: 0 !important;
}